# 忽略文件夹
PIPENV_VENV_IN_PROJECT/
data/
pytorch_code/
__pytarch__
# 忽略文件
.env
.venv
.idea
note.md
__pycache__

surongdan/__pycache__
surongdan/views/__pycache__
nohup.out
templates
static
.env
.venv
.idea

surongdan/__pycache__
surongdan/views/__pycache__

note.md
